[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylint --load-plugins=pylint_django --django-settings-module=zid_api.settings v1 test"
server = "python manage.py runserver"
test = "pytest --cov=v1 --cov=util --ds=zid_api.settings ."

[packages]
boto3 = "1.28.24"
botocore = "1.31.24"
django = "4.2.4"
pyyaml = "6.0.1"

[dev-packages]
pylint = "2.17.5"
pylint-django = "2.5.3"
pytest = "7.4.0"
pytest-cov = "4.1.0"
pytest-django = "4.5.2"

[requires]
python_version = "3.11.4"
